.schedule-grid
  .ruler

  - schedule.each_room(day) do |room, slots|
    .room-column
      .column-header= room.name
      .time-slots.grid-stack
        - slots.each do |ts|
          - ts = Staff::TimeSlotDecorator.decorate(ts)
          .time-slot.grid-stack-item{id: "time_slot_#{dom_id(ts)}", data: ts.item_data}
            .time-slot-content.grid-stack-item-content
              =ts.title
